.xl-text {
  font-size: 4.6875rem;
}

.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus {
  color: #fff;
}

.header .decoration-star {
  top: 5rem;
  left: -12.5rem;
  width: 31.25rem;
  opacity: 0.7;
}

.header .decoration-star-2 {
  top: 5rem;
  right: -12.5rem;
  width: 31.25rem;
  opacity: 0.7;
}

@media (max-width: 992px) {
  .xl-text {
    font-size: 3.125rem;
  }
  .navbar .btn-outline-secondary {
    margin-top: 1.25rem;
  }
  .header {
    margin-top: 0px !important;
    text-align: center;
  }
  .header .decoration-star {
    left: -6.25rem;
    width: 15.625rem;
  }
  .header .decoration-star-2 {
    right: -6.25rem;
    width: 15.625rem;
  }
  .header .image-container {
    margin-top: 1.875rem;
  }
}
