.xl-text {
  font-size: 4.6875rem;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary {
  &:hover,
  &:focus {
    color: #fff;
  }
}

.header .decoration-star {
  top: 5rem;
  left: -12.5rem;
  width: 31.25rem;
  opacity: 0.7;
}

.header .decoration-star-2 {
  top: 5rem;
  right: -12.5rem;
  width: 31.25rem;
  opacity: 0.7;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
